{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container event-details-page push-down-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if event.image %}
                        <img class="card-img-top img-fluid" src="{{ event.image.url }}" alt="{{ event.title }}">
                    {% else %}
                        <img class="card-img-top img-fluid" src="{% static 'noimage.png' %}" alt="{{ event.title }}">
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <h5 class="card-title">{{ event.title }}</h5>
                    <p class="card-text">{{ event.description }}</p>
                    <p class="card-text">Date: {{ event.date }}</p>
                    <a href="{% url 'events:register' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Register Interest</a>
                </div>
            </div>
            <div class="container mt-5">
                <h2>Comments</h2>
                <div class="comment-form-container card mt-4">
                    <div class="card-header">Add a Comment</div>
                    <div class="card-body">
                        <form method="post" id="comment-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <textarea class="form-control" name="text" rows="3" placeholder="Write your comment here"></textarea>
                            </div>
                            <button id="comment-submit" type="submit" class="like-comment-button">Submit Comment</button>
                        </form>
                    </div>
                </div>
                <div class="comments-container" id="comments">
                    {% for comment in event.comments.all reversed %}
                    <div class="comment" id="comment-{{ comment.id }}">
                        <strong><p>{{ comment.user.user.username }}</strong> <span class="date-of-comment">({{ comment.created_at }}):</span></p>
                        <p>{{ comment.text }}</p>
                        <button class="like-comment-button" data-comment-id="{{ comment.id }}">
                            <i class="fa-regular fa-heart" style="color: #ff0000;"></i> Like
                        </button>
                        <span class="like-count">{{ comment.likes.count }}</span>
                        {% if request.user == comment.user.user %}
                            <button class="delete-comment-button" data-comment-id="{{ comment.id }}" onclick="deleteComment({{ comment.id }})">
                                <i class="fa-solid fa-trash" style="color: #471d5c;"></i> Delete
                            </button>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    <script>
    var csrftoken = $("[name=csrfmiddlewaretoken]").val(); // Get the CSRF token from the page

    // Function to submit a new comment
    function submitComment(text, event_id) {
        $.ajax({
            type: "POST",
            url: "{% url 'comments:add_comment' event.id %}",
            data: { text: text },
            headers: { "X-CSRFToken": csrftoken }, // Include the CSRF token in the headers
            success: function (data) {
                if (data.success) {
                    var commentHtml = '<div class="comment"><p>' + data.user + ' (' + data.date + '):</p><p>' + data.text + '</p><button class="like-comment-button" data-comment-id="' + data.id + '">Like</button><span class="like-count">0</span></div>';
                    $("#comments").append(commentHtml);
                    // Clear the input field after submission
                    $("#comment-form textarea[name='text']").val('');
                }
            }
        });
    }

    // Submit a new comment when the 'comment-submit' button is clicked
    $("#comment-submit").click(function () {
        var text = $("#comment-form textarea[name='text']").val();
        var event_id = {{ event.id }};
        submitComment(text, event_id);
    });

    // Like a comment
    $(document).on("click", ".like-comment-button", function () {
        var commentId = $(this).data("comment-id");
        var self = $(this);
        $.ajax({
            type: "POST",
            url: "{% url 'comments:like_comment' 0 %}".replace(0, commentId),
            headers: { "X-CSRFToken": csrftoken }, // Include the CSRF token in the headers
            success: function (data) {
                if (data.liked) {
                    var likeCount = self.siblings(".like-count");
                    likeCount.text(data.like_count);
                }
            }
        });
    });

    function deleteComment(commentId) {
    $.ajax({
        type: "POST",
        url: "/delete_comment/" + commentId + "/",
        headers: { "X-CSRFToken": csrftoken },
        success: function (data) {
            if (data.success) {
                // Comment deleted successfully, remove it from the page.
                $('#comment-' + commentId).remove();
            } else {
                // Display an error message to the user.
                alert(data.error);
            }
        }
    });
}
</script>
{% endblock %}
