{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container push-down-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if event.image %}
                        <img class="card-img-top img-fluid" src="{{ event.image.url }}" alt="{{ event.title }}">
                    {% else %}
                        <img class="card-img-top img-fluid" src="{% static 'noimage.png' %}" alt="{{ event.title }}">
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <h5 class="card-title">{{ event.title }}</h5>
                    <p class="card-text">{{ event.description }}</p>
                    <p class="card-text">Date: {{ event.date }}</p>
                    <a href="{% url 'events:register' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Register Interest</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
