{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container push-down-content">
    <h2>Upcoming Events</h2>
    <hr class="thin-line">
    <div class="row">
        {% for event in events %}
            <div class="col-md-4">
                <div class="card mb-4">
                    {% if event.image %}
                    <img src="{{ event.image.url }}" alt="{{ event.title }}" class="card-img-top img-thumbnail">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ event.title }}</h5>
                        <p class="card-text">Date: {{ event.date }}</p>
                        <a href="{% url 'events:event_detail' event.id %}" class="skate-room-button">Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
