html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Kanit', sans-serif;
}

.hero-image {
    background: url('/media/skateboard-hero-image.jpg') no-repeat center center fixed;
    box-shadow: inset 0 0 0 2000px rgba(255, 193, 0, 0.3);
    background-size: cover;
}

h1 {
    font-family: 'Russo One', sans-serif;
}

.page-top-header {
    margin-top: 80px;
}

.thick-line {
    border: 5px solid black;
    border-radius: 5px;
}

.thin-line {
    border: 3px solid black;
    border-radius: 3px;
}

.homepage-btn {
    margin: 0 auto;
    text-align: center;
}

.hero-section {
    height: 900px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    color: black;
    font-weight: 900;
}

.text-white {
    color: white;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #ffd51c;
    color: black;
    min-width: 260px;
}

.secondary-button {
    background: #ffd51c;
    color: black;
    min-width: 40px;
    font-weight: 700;
}

.btn-black {
    background: black;
    color: white;
}

.btn-yellow {
    background: #ffd51c;
    color: black;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus .secondary-button:hover,
.secondary-button:active,
.secondary-button:focus,
{
background: #222;
color: white;
}

.text-black {
    color: #000 !important;
}

.brand-purple {
    color: #471d5c;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.shipping-banner {
    color: yellow;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.footer-heading {
    text-transform: uppercase;
    color: white;
    margin-left: 50px;
    padding-top: 30px;
}

#footer {
    background-color: #000;
    height: 100%;
    width: 100%;
}

.social-icons {
    margin-left: 50px;
    padding-top: 20px;
}

.icon-style {
    padding-left: 8px;
    font-size: 1.8rem;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.img-size {
    height: 300px;
    width: 250px;
}

.push-down-content {
    margin-top: 45px;
    margin-bottom: 100px;
}

.homepage-text {
    margin-top: 150px;
}

.homepage-events-div {
    height: 900px;
}

/*..................................Mailchimp form styles */

#mc_embed_signup {
    background: black;
    false;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 500px;
    color: white;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}